@charset "UTF-8";
/*.button-l{
  $baseHeight:map_get($buttonL , "height");
  border: $baseHeight / 6 solid #fff;
  height:$baseHeight / 3 + $baseHeight;
  line-height: $baseHeight / 3 + $baseHeight;
  border-radius: map_get($buttonL , "radius");
  padding:0px map_get($buttonL , "padding");
  font-size:map_get($buttonL , "font");
}

.button-s{
  $baseHeight:map_get($buttonS , "height");
  border: $baseHeight / 6 solid #fff;
  height:$baseHeight / 3 + $baseHeight;
  line-height: $baseHeight / 3 + $baseHeight;
  border-radius: map_get($buttonL , "radius");
  padding:0px map_get($buttonL , "padding");
  font-size:map_get($buttonL , "font");
}*/
/**********************************鎸夐挳*********************************/
.button-s {
  margin: 5px;
  height: 43px;
  line-height: 11px;
  border-radius: 2px;
  padding: 0px 16px;
  font-size: 14px;
  outline: none; }

.button-l {
  margin: 6px;
  height: 48px;
  line-height: 12px;
  border-radius: 2px;
  padding: 0px 16px;
  font-size: 16px;
  outline: none; }

/**********************************鎸夐挳*********************************/
/**********************************鍗曢€夐挳*********************************/
.mui-switch {
  width: 45px;
  height: 16px;
  position: relative;
  border: 1px solid #dfdfdf;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
  .mui-switch:before {
    content: '';
    width: 25px;
    height: 25px;
    margin-top: -6px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .mui-switch:checked {
    border-color: #63a4ff;
    box-shadow: #63a4ff 0 0 0 16px inset;
    background-color: #63a4ff; }
    .mui-switch:checked:before {
      left: 19px;
      background-color: #1976d2; }
  .mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; }
    .mui-switch.mui-switch-animbg:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-animbg:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      transition: border-color 0.4s, background-color ease 0.4s; }
      .mui-switch.mui-switch-animbg:checked:before {
        transition: left 0.3s; }
  .mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
    .mui-switch.mui-switch-anim:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-anim:checked {
      box-shadow: #63a4ff 0 0 0 16px inset;
      background-color: #63a4ff;
      transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
      .mui-switch.mui-switch-anim:checked:before {
        transition: left 0.3s; }

/**********************************鍗曢€夐挳*********************************/

/*# sourceMappingURL=input.css.map */
