@import "base";

$body-bgc:#f2f5f2;

html{
  height:100%
}
body{
  height:100%;
  min-width:$width;
  cursor:default;
  background-color: $body-bgc;
}

html,body,p,h1,h2,h3,h4,h5,h6,ul,li,table,th,tr,td,dl,dt,img,i,input,div{
  margin:0px;
  padding:0px;
  border:0px;
  box-sizing: border-box;//强制使用的盒模型
}

input{
  outline:none;
}

li{
  list-style-type:none;
}

.box-content{
  box-sizing:content-box;
}